<div class="breadcrumb-wrapper">
    <nav class="breadcrumb">
        <a routerLink="/master" class="breadcrumb-link">Master</a>
        <span class="breadcrumb-separator">››</span>
        <span class="breadcrumb-current">Create Asset</span>
    </nav>
</div>



<nav class="navbar">
    <div class="navbar-left">
        <span class="navbar-title">Create Asset</span>
    </div>
</nav>


<div class="user-tabs">
    <div class="tab1" [ngClass]="{ active: selectedRole === 'Asset' }" (click)="selectedRole = ('Asset')">
        Asset
    </div>
    <div class="tab1" [ngClass]="{ active: selectedRole === 'Purchase Info' }" (click)="selectedRole = 'Purchase Info'">
        Purchase Info
    </div>
    <div class="tab1" [ngClass]="{ active: selectedRole === 'Additional Info' }"
        (click)="selectedRole = 'Additional Info'">
        Additional Info
    </div>
</div>



<div class="create-asset-form" *ngIf="selectedRole === 'Asset'">
    <div class="form-grid-asset">

        <div class="form-group">
            <label>Asset Group</label>
            <select [(ngModel)]="newAsset.group"
                (change)="getCompanyByGroupId(newAsset.group); getMainCategoryByGroupId(newAsset.group)">
                <option *ngFor="let group of groupList" [ngValue]="group.id">
                    {{group.groupName}}
                </option>
            </select>
        </div>

        <div class="form-group">
            <label>Asset Companyname</label>
            <select [(ngModel)]="newAsset.companyName" (change)="getSiteByCompanyId(newAsset.companyName)">
                <option *ngFor="let company of companyList" [ngValue]="company.id">
                    {{company.companyName}}
                </option>
            </select>
        </div>

        <div class="form-group">
            <label>Asset Sitename</label>
            <select [(ngModel)]="newAsset.siteName" (change)="getBuildingBySiteId(newAsset.siteName)">
                <option *ngFor="let site of siteList" [ngValue]="site.id">
                    {{site.siteName}}
                </option>
            </select>
        </div>

        <div class="form-group">
            <label>Asset Buildingname</label>
            <select [(ngModel)]="newAsset.buildingName" (change)="getFloorByBuildingId(newAsset.buildingName)">
                <option *ngFor="let building of buildingList" [ngValue]="building.id">
                    {{building.buildingName}}
                </option>
            </select>
        </div>

        <div class="form-group">
            <label>Asset Floorname</label>
            <select [(ngModel)]="newAsset.floorName" (change)="getRoomByFloorId(newAsset.floorName)">
                <option *ngFor="let floor of floorList" [ngValue]="floor.id">
                    {{floor.floorName}}
                </option>
            </select>
        </div>

        <div class="form-group">
            <label>Asset Room</label>
            <select [(ngModel)]="newAsset.room">
                <option *ngFor="let room of roomList" [ngValue]="room.roomName">
                    {{room.roomName}}
                </option>
            </select>
        </div>

        <div class="form-group">
            <label>Asset Department</label>
            <select [(ngModel)]="newAsset.department">
                <option *ngFor="let department of departmentList" [ngValue]="department.departmentName">
                    {{department.departmentName}}
                </option>
            </select>
        </div>


        <div class="form-group">
            <label>Asset Custodian</label>
            <select [(ngModel)]="newAsset.custodian">
                <option *ngFor="let custodian of custodianList" [ngValue]="custodian.custodianName">
                    {{custodian.custodianName}}
                </option>
            </select>
        </div>


        <div class="form-group">
            <label>Asset sector</label>
            <select [(ngModel)]="newAsset.sector">
                <option *ngFor="let sector of sectorList" [ngValue]="sector.sectorName">
                    {{sector.sectorName}}
                </option>
            </select>
        </div>

        <div class="form-group">
            <label>Asset Maincategory</label>
            <select [(ngModel)]="newAsset.mainCategory"
                (change)="getSubCategoryByMainCategoryId(newAsset.mainCategory)">
                <option *ngFor="let category of mainCategoryList" [ngValue]="category.id">
                    {{category.categoryName}}
                </option>
            </select>
        </div>

        <div class="form-group">
            <label>Asset subcategory</label>
            <select [(ngModel)]="newAsset.subCategory"
                (change)="getSubSubCategoryBySubCategoryId(newAsset.subCategory)">
                <option *ngFor="let subCategory of subCategoryList" [ngValue]="subCategory.id	">
                    {{subCategory.categoryName }}
                </option>
            </select>
        </div>

        <div class="form-group">
            <label>Asset Subsubcategory</label>
            <select [(ngModel)]="newAsset.subSubCategory"
                (change)="getBrandBySubSubCategoryId(newAsset.subSubCategory)">
                <option *ngFor="let subSubCategory of subSubCategoryList" [ngValue]="subSubCategory.id">
                    {{subSubCategory.categoryName}}
                </option>
            </select>
        </div>

        <div class="form-group">
            <label>Asset Brand</label>
            <select [(ngModel)]="newAsset.brand" (change)="getModelByBrandId(newAsset.brand)">
                <option *ngFor="let brand of brandList" [ngValue]="brand.id">
                    {{brand.categoryName}}
                </option>
            </select>
        </div>

        <div class="form-group">
            <label>Asset Model</label>
            <select [(ngModel)]="newAsset.model">
                <option *ngFor="let model of modelList" [ngValue]="model.model">
                    {{model.modelName}}
                </option>
            </select>
        </div>
        <div class="form-group">
            <label>Asset Description</label>
            <input type="text" [(ngModel)]="newAsset.assetDescription">
        </div>
        <div class="form-group">
            <label>Asset Referencecode</label>
            <input type="text" [(ngModel)]="newAsset.referenceCode">
        </div>
        <div class="form-group">
            <label>Asset Quantity</label>
            <input type="text" [(ngModel)]="newAsset.quantity">
        </div>
        <div class="form-group">
            <label>Asset Type</label>
            <input type="text" [(ngModel)]="newAsset.assetType">
        </div>

        <div class="form-group">
            <label>Asset Status</label>
            <input type="text" [(ngModel)]="newAsset.assetStatus">
        </div>

        <div class="form-group">
            <label>Asset Condition</label>
            <input type="text" [(ngModel)]="newAsset.assetCondition">
        </div>
    </div>
    <div class="form-buttons">
        <button class="btn cancel" (click)="closeCreateAssetPopup()">Cancel</button>
        <button class="btn submit" (click)="createAsset()">Create</button>
    </div>
</div>



<div class="create-asset-form" *ngIf="selectedRole === 'Purchase Info'">

    <div class="form-grid-asset">
        <div class="form-group">
            <label>Asset Life(In months)</label>
            <input type="number" [(ngModel)]="purchaseInfo.assetLife" name="assetLife">
        </div>

        <div class="form-group">
            <label>Unit Price</label>
            <input type="number" [(ngModel)]="purchaseInfo.unitPrice" name="unitPrice">
        </div>

        <div class="form-group">
            <label>PO Number</label>
            <input type="text" [(ngModel)]="purchaseInfo.poNumber" name="poNumber">
        </div>

        <div class="form-group">
            <label>Invoice Number</label>
            <input type="text" [(ngModel)]="purchaseInfo.invoiceNumber" name="invoiceNumber">
        </div>

        <div class="form-group">
            <label>GRN Number</label>
            <input type="text" [(ngModel)]="purchaseInfo.grnNumber" name="grnNumber">
        </div>

        <div class="form-group">
            <label>Release Number</label>
            <input type="text" [(ngModel)]="purchaseInfo.releaseNumber" name="releaseNumber">
        </div>

        <div class="form-group">
            <label>Supplier</label>
            <select [(ngModel)]="purchaseInfo.supplier">
                <option *ngFor="let supplier of supplierList" [value]="supplier.supplierName">
                    {{supplier.supplierName}}
                </option>
            </select>
        </div>

        <!-- Dates -->
        <div class="form-group">
            <label>Delivery Date</label>
            <input type="date" [(ngModel)]="purchaseInfo.deliveryDate" name="deliveryDate">
        </div>

        <div class="form-group">
            <label>Capitalization Date</label>
            <input type="date" [(ngModel)]="purchaseInfo.capitalizationDate" name="capitalizationDate">
        </div>

        <div class="form-group">
            <label>Invoice Date</label>
            <input type="date" [(ngModel)]="purchaseInfo.invoiceDate" name="invoiceDate">
        </div>

        <div class="form-group">
            <label>PO Date</label>
            <input type="date" [(ngModel)]="purchaseInfo.poDate" name="poDate">
        </div>

        <div class="form-group">
            <label>Service Start Date</label>
            <input type="date" [(ngModel)]="purchaseInfo.serviceStartDate" name="serviceStartDate">
        </div>

        <div class="form-group">
            <label>Service End Date</label>
            <input type="date" [(ngModel)]="purchaseInfo.serviceEndDate" name="serviceEndDate">
        </div>

        <div class="form-group">
            <label>Warranty Start Date</label>
            <input type="date" [(ngModel)]="purchaseInfo.warrantyStartDate" name="warrantyStartDate">
        </div>

        <div class="form-group">
            <label>Warranty End Date</label>
            <input type="date" [(ngModel)]="purchaseInfo.warrantyEndDate" name="warrantyEndDate">
        </div>
    </div>
</div>



<div class="create-asset-form" *ngIf="selectedRole === 'Additional Info'">

    <div class="form-grid-asset">

        <div class="form-group">
            <label>Model</label>
            <select  [(ngModel)]="AdditionalInfo.model" name="model">
                <option *ngFor="let model of getModelList"[value]="model.modelName">
                  {{model.modelName}}
                </option>
            </select>
        </div>

        <div class="form-group">
            <label>Make</label>
            <input type="text" [(ngModel)]="AdditionalInfo.make" name="make">
        </div>

        <div class="form-group">
            <label>Asset Type</label>
            <input type="text" [(ngModel)]="AdditionalInfo.assetType" name="assetType">
        </div>
    </div>
</div>